{% extends "PinaBundle::layout.html.twig" %}
{% block content %}
    {% if is_granted('ROLE_USER') %}
        <strong>Estàs identificat com a usuari normal</strong>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <strong>Estàs identificat com a usuari administrador</strong>
    {% endif %}

    <div class="col-lg-4">
        <h2>Identifica't</h2>
        <hr/>
        <form action="{{path("login_check")}}" method="post">
            <label>Email:</label>
            <input type="email" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
            <br/>
            <label>Password:</label>
            <input type="password" id="password" name="_password" class="form-control"/>
            <br/>
            <input type="submit" value="Entrar" class="btn btn-success"/>
            <input type="hidden" name="_target_path" value="/login"/>
        </form>
    </div>

    <div class="col-lg-4">
        <h2>Registra't</h2>
        <hr/>
        
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {{form_start(form, {'action':'','method':'POST'})}}
        {{form_end(form)}}
    </div>

    <div class="clearfix"></div>
{% endblock %}