{% extends "PinaBundle::layout.html.twig" %}

{% block content %}
    <div class="col-lg-6">
        <h2>Añadir categorias</h2>
        {{form_start(form)}}
        {{form_end(form)}}
    </div>
    <h1>hola</h1>
    <div class="clearfix"></div>
{% endblock %}


