{% extends "PinaBundle::layout.html.twig" %}

{% block content %}
    <div class="col-lg-6">
        <h2>Afegir Tags</h2>
        {{form_start(form)}}
        {{form_end(form)}}
    </div>
    <div class="clearfix"></div>
{% endblock %}