<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %} Pina's Project {% endblock %}
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
    <body>
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{path("pina_homepage")}}">Clementina</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav">
                            {% block menu %}
                                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">Link</a></li>
                                {% endblock %}
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">
                                    {% if app.user != null %}
                                        Benvingut, {{app.user.name}} {{app.user.surname}}

                                    {% endif %}
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% if app.user == null %}
                                        <li><a href="{{path('login')}}">Identifica't</a></li>
                                        {% else %}
                                        <li><a href="{{path('logout')}}">Sortir</a></li>
                                        {% endif %}
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Ajuda</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
        <section id="content">
            {% block content %}Content Default{% endblock %}
        </section>
        <footer>
            El web de la Clementina
        </footer>
    </body>
</html>
